# Project 2 report

# Goal of the project

* The **goal** of this project is for you to present a **coherent** (logical) and **well-coded** investigation into some aspects of the dataset.

* **Ideas**: You don't need to answer them all, and you are strongly encouraged to answer questions that are not listed.

* When you are presenting your investigation of each problem, be sure to make a **coherent** discussion for each task (using Markdown, maths as appropriate and code cells).


# Project ideas

**Projects involving certain cities**


* Investigate the influence of a city size (population density, GDP?, other measures?) on air pollution. Might have to use other API's to get informations
    * For different pollutants

* Investigate the influence of weather for different cities.


* Distance from coast (does that affect).

* Tourism

* Green space - does that affect?


* Fitting a **linear regression model** where you predict the average pollution for a city based on (population, gdp, weather, location, ....). We could do this if the other two above do not take a long time


* **Simple prediction model** to warn people about pollution the next day (Based on weather conditions tomorrow and the mean pollution for a certain month for a certain city)

**Project involvin certain events**

* Wildfire 
    * Produce certain pollutants
    
**Other Projects**

* How countries are doing on their goal towards climate change?
    * Hypothesis
    * Visualize
        * Over time
        
* Rich vs poor
    * Do richer 


## Map

* Color coding map
    * color code how bad the pollution is
    
    
* Time lapse over a day


### Different kind of measures:

* **pm25**: Fine particulate matter of size 2.5
* **pm10**: Fine particulate matter of size 10
* **so2**: Sulfur dioxide 
* **co**: Carbon monoxide
* **no2**: Nitrogen dioxide
* **o3**: ozone
* **bc**: Black carbon 

# Assignments

### Setup

* Write an introduction to our problem
* Description of the data we use (what data, API, etc.)
* Maths (regression, computing averages, etc.)

### Data

* Fetch data for cities
    * Aggregate daily/monthly data for measurements (pm25 for example)
        * Average, max, min
    * Aggregate daily/monthly data for weather?
        * Average temp, wind, max temp, min
    * Data on population, gdp,......?
        * More fixed values, yearly might be enough
        
### Prediction, calculations  and plots

* Plots of time series
* Comparisons between cities
* ??


### Conclusions

* ??

# Data

We will need to have the data for each city such that each row i corresponds to day i and column j is a measure of some kind. That is our table will be:

Date, $X_1$, $X_2$, ..., $X_k$ where $X_1$ is a vector of size $n*1$ where n is the number of rows (days). $X_1$ could correspond to a measure of some kind (average temp for example) or measure of pm25

We have to make decisions on how we aggregate the data. Do we take average over each day or always measures at local time 12:00.

# Summary from meeting 17. Nov


We are going to sample **daily** data for cities on the format: 

$Date_i$, $X_1$, $X_2$, ..., $X_k$ where $X_1$ is a vector of size $n*1$ where n is the number of rows (days). $X_1$ could correspond to a measure of some kind (average temp for example) or measure of pm25.

The dataset could look like:

Date, MaxPM25, MinPM25, MaxPM10, MinPM25, max Temp, average Temp, average wind, maximum wind, population

dd/mm/yyyy - 20 - 10 - 60 - 9 - 5 - 3 - .......- 100.000


## Two different sources

### Air quality (response variable)

Here we use the Airquality API to fetch daily data for the airquality measures we want to look at.

Need to choose what measure we choose and how we measure that pollution over one day.

**Responsible**:
Ava, Aevar



### Effects (Prediction/causal variables)

Here we use the weather API from workshop (5, 6 or 7). We need to summarize the weather for each day and what variables we wan't to keep.

The weather API has output for **daily** weather data I think. The Readme file also recommends some API.

Then we need to fetch data on Popuation, gdp, ....., whatever we think of.

**Responsible**:
Ayush, Baldur, Karla


### Cities

* London
* Reykjavik
* Mexico

But all the code should have a variable called City so it's easy to reproduce.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import openaq
import warnings

warnings.simplefilter('ignore')

%matplotlib inline

# Set major seaborn asthetics
sns.set("notebook", style='ticks', font_scale=1.0)

# Increase the quality of inline plots
mpl.rcParams['figure.dpi']= 500

print ("pandas v{}".format(pd.__version__))
print ("matplotlib v{}".format(mpl.__version__))
print ("seaborn v{}".format(sns.__version__))
print ("openaq v{}".format(openaq.__version__))

pandas v1.1.3
matplotlib v3.3.1
seaborn v0.11.0
openaq v1.1.0

In [4]:
# Fetch the api
# http://dhhagan.github.io/py-openaq/api.html
api = openaq.OpenAQ()

In [27]:
# Cities 

dt_cities = api.cities(df = True,limit=10000,country = 'IS')
#dt_cities


dt_cities.head(100)

  country           name           city      count  locations
0      IS       Akureyri       Akureyri   94880152          1
1      IS   Grundartangi   Grundartangi  263945180          3
2      IS  Hafnarfjörður  Hafnarfjörður  196543393          2
3      IS        Húsavík        Húsavík      22392          2
4      IS      Kópavogur      Kópavogur  115579392          1
5      IS  Reyðarfjörður  Reyðarfjörður   88902969          4
6      IS   Reykjanesbær   Reykjanesbær   31644811          1
7      IS      Reykjavík      Reykjavík  430673915          4

In [26]:
dt[dt["city"] == "Akureyri"]

Empty DataFrame
Columns: [location, parameter, value, unit, country, city, date.utc, coordinates.latitude, coordinates.longitude]
Index: []

In [48]:
# Fetch the measurment data. df = True (Change it straight to a data frame), 
# limit of rows to return (Max value: 10000, default = 100)

#dt = pd.DataFrame.from_dict(resp['results'])
#dt.groupby(['date']).mean("value")
#dt[dt["value"] <  0]
#dt[dt["date.local"] == "2021-01-03"]

In [146]:
#pd.DataFrame.from_dict(resp['results']).groupby(['date']).count()
#dt = pd.DataFrame.from_dict(resp['results'])

#dt['Date'] = pd.to_datetime(dt['date.local']).dt.date
df = api.measurements(city = 'Reykjavík',df = True,limit=1000, parameter = "pm25")
df.index.name = 'Date.local'
df.reset_index(inplace=True)
df['Date'] = df['Date.local'].dt.strftime('%Y-%m-%d')
df['value'] = df['value'].astype(float, errors = 'raise')
#dt.reset_index(inplace=True)
#dt['Date'] = pd.to_datetime(dt['Date.local']).dt.date

df.head(15)
Result = df.groupby(['Date'],as_index=False)['value'].mean()
Result.head(1000)

          Date       value
0   2021-09-16    3.020635
1   2021-09-17    4.377143
2   2021-09-18    3.130882
3   2021-09-19    3.088572
4   2021-09-20    3.074286
5   2021-09-21    2.213077
6   2021-09-22  126.577344
7   2021-09-23    2.154348
8   2021-09-24    1.278472
9   2021-09-25    1.323611
10  2021-09-26   11.607143
11  2021-09-27   19.107143
12  2021-09-28    2.940845
13  2021-09-29    4.497917
14  2021-09-30    1.337805

In [142]:
df = api.measurements(city = 'Reykjavík',df = True,limit=1000, parameter = "pm25")
df.index.name = 'Date.local'
df.reset_index(inplace=True)
#df['Date'] = pd.to_datetime(df['Date.local']).dt.date
#df['Date'].dt.strftime("%m/%d/%y")
df['Date'] = df['Date.local'].dt.strftime('%Y-%m-%d')
df['value'] = df['value'].astype(float, errors = 'raise')
#df.head()
#df[(df['Date'] == '2021-09-22') and  (df['value'] >= 10)]
#df.loc[df['value'] != 10]
#df.loc(df['value'] >= 10)
df.loc[(df['Date'] == '2021-09-22') &  (df['value'] >= 10)]

,Date.local,location,parameter,value,unit,country,city,date.utc,coordinates.latitude,coordinates.longitude,Date
565,2021-09-22 10:00:00,Reykjavik Grensas,pm25,985.0,b'\xc2\xb5g/m\xc2\xb3',IS,Reykjavík,2021-09-22 10:00:00+00:00,64.1301,-21.87465,2021-09-22
568,2021-09-22 09:00:00,Reykjavik Grensas,pm25,985.0,b'\xc2\xb5g/m\xc2\xb3',IS,Reykjavík,2021-09-22 09:00:00+00:00,64.1301,-21.87465,2021-09-22
570,2021-09-22 08:00:00,Reykjavik Grensas,pm25,985.0,b'\xc2\xb5g/m\xc2\xb3',IS,Reykjavík,2021-09-22 08:00:00+00:00,64.1301,-21.87465,2021-09-22
573,2021-09-22 07:00:00,Reykjavik Grensas,pm25,985.0,b'\xc2\xb5g/m\xc2\xb3',IS,Reykjavík,2021-09-22 07:00:00+00:00,64.1301,-21.87465,2021-09-22
577,2021-09-22 05:00:00,Reykjavik Grensas,pm25,985.0,b'\xc2\xb5g/m\xc2\xb3',IS,Reykjavík,2021-09-22 05:00:00+00:00,64.1301,-21.87465,2021-09-22
579,2021-09-22 04:00:00,Reykjavik Grensas,pm25,985.0,b'\xc2\xb5g/m\xc2\xb3',IS,Reykjavík,2021-09-22 04:00:00+00:00,64.1301,-21.87465,2021-09-22
584,2021-09-22 03:00:00,Reykjavik Grensas,pm25,985.0,b'\xc2\xb5g/m\xc2\xb3',IS,Reykjavík,2021-09-22 03:00:00+00:00,64.1301,-21.87465,2021-09-22
586,2021-09-22 02:00:00,Reykjavik Grensas,pm25,985.0,b'\xc2\xb5g/m\xc2\xb3',IS,Reykjavík,2021-09-22 02:00:00+00:00,64.1301,-21.87465,2021-09-22

In [ ]:
groupby(['Date']).count()